* {
    box-sizing: border-box;
}
.some-recipes {
    background-color: beige;
    margin:10px;
    border: 4px black dotted;
    color: rgb(146, 15, 41);
    
    text-align: center;
    
    
    
}
.recipeList {
    color:rgb(131, 167, 162);
    background-color: beige;
    border: 2px black dotted;
    
    margin:10px;
    padding: 5px;
    width:auto
    
    
    
}
.stuffing, #some-recipes {
    color:rgb(90, 202, 165);
    background-color: rgba(75, 39, 39, 0.76);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: weight 500px;
}
.voiceheader {
    color: blue;
    background-color: aquamarine;
}
.ancientgear {
    font-family:'Gill Sans MT', serif;
    font-weight:500;
    color:rgb(59, 65, 65);
}
div#ag-gameplay {
    color:rgb(170, 124, 25);

}